<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/styles.css">
</head>
<body>

    <div>
        <h1>Flask Celery Job Status Landing Page!</h1>
    </div>

    <div>
        <form action="{{ url_for('naive_task_status.index') }}" >
            <input type="submit" value="Naive Celery - Task Status" />
        </form>
        </br>

        <form action="{{ url_for('factory_task_status.index') }}" >
            <input type="submit" value="Factory Celery - Task Status" />
        </form>
        </br>

        <form action="{{ url_for('job_status.index') }}" >
            <input type="submit" value="Jobs & Tasks" />
        </form>
    </div>

</body>
</html>
